body{
    margin: 0;
}

header{
    background-color: black;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

header h1{
    color: white;
    font-family: Helvetica, Impact, 'Arial Narrow Bold', sans-serif;
}

header img{
    border-radius: 100px;
    border: 10px solid #900603;
}

main{
    background-color: #333333;
    max-width: 800px;
    margin: 0 auto;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 20px;
    padding-bottom: 30px;
    font-family: Helvetica, Impact, 'Arial Narrow Bold', sans-serif;
    color: white;
}

main img{
    max-width: 50%;
}

p.caption{
    font-size: 10px;
    margin-top: 5px;
    color: #c1c1c1;
    font-style: italic;
}

main h2{
    font-family: Impact, Helvetica
}

a{
    color: white;
}

a:hover{
    color: #e3242b;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}